
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../JS/index.js"></script>
    <!-- <link rel="stylesheet" href="../CSS/index.css"> -->
    <title>LibMaster</title>
</head>
<body style="height: 100%">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 rounded">
                <img id="logo" src="../logo.png" alt="" srcset="">
            </div>
            <div class="col-sm-9 rounded">
                <div>
                    <nav class="navbar navbar-expand-sm">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a id="knjigeLink" href="#" class="nav-link">Knjige</a></li>
                                <li class="nav-item dropdown">
                                    <a id="imeProfila" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Profil
                                    </a>
                                    <ul class="dropdown-menu bg-dark">
                                        <li class="dropdown-item"><a class="drop" href="#">Lista Želja</a></li>
                                        <li class="dropdown-item"><a class="drop" href="#">Komentari</a></li>
                                        <li class="dropdown-item"><a class="drop" href="#">Omiljeno</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item"><a class="drop" href="#">Odjavi se</a></li>
                                    </ul>
                                    </a>
                                <li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <hr>
            <div class="col-sm-12" style="height: 1000px;">
                <h1 style="color:aqua">Content</h1>
                <!--Ovde ide kontent-->
            </div>
        </div>
    </div>
</body>
</html>